
<div class="modal-header">
    Form
</div>
<div class="modal-body">

   <h4> Curator form and Student form saved</h4>

    <div class="modal-footer">
        <button type="button" ng-click="submit()" class="btn btn-primary">OK</button>
    </div>
</div>