.netcracker-bar {
    min-height: 40px;
    background-color: #eeeeee;

}

.nectracker-background {
    min-height: 230px;
    background: url("../image/background.jpg");
    /*position: relative;*/
    background-size: cover;
    background-position: center;
}

.nectracker-form {
    /*position: absolute;
    top: 140px;*/
    padding: 25px;
}

.item {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    vertical-align: middle;
}

body {
    padding-bottom: 70px;
}

body {
    background: rgb(202, 196, 211)
}

.glyphicon-download{
    float:right;
    margin-right: 10px;
}

.glyphicon-download-alt{
    float:right;
    margin-right: 10px;
}

.glyphicon-filter{
    float:right;
    margin-right: 10px;
}

#showHideBtn{
    float:right;
    margin-right: 10px;
}

#buttons-at-line-div-id
{
    width:100%;
    text-align: center;
}
.button-at-line
{
    margin-top: 30px;
    display: inline-block;
    width: 30%;
}

.left-button-at-line{
    margin-right: 10px;
}