<div class="nectracker-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well well-sm">
                <legend ><i class="glyphicon glyphicon-search"></i> 404 Error
                    <div style="padding-left: 25px">
                        <h4 style="text-align: center">
                            The page is not found.
                        </h4>

                    </div>
                </legend>
            </div>
        </div>
    </div>
</div>

