<form name="confirmDeletePage" id="confirmDeletePage" style="padding-left: 25px; padding-right: 25px">
    <div class="modal-header">
        <a href=""><i class="glyphicon glyphicon-trash"></i></a> Confirm delete operation
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete this Questionnaire?
        </p>
        <div class="col-md-12" id="buttons-at-line-div-id" >
            <button class="btn btn-lg btn-primary button-at-line left-button-at-line" type="submit" ng-click="deleteQue()">Yes</button>
            <button class="btn btn-lg btn-primary button-at-line" type="submit" ng-click="closeConfirmPage()">No</button>
        </div>

    </div>
    <div class="modal-footer"></div>

</form>