<script>
    $('#confirmDeletePage').on('show.bs.modal', function () {
        alert('The modal is about to be shown.');
        $(this).find('.modal-content').css({
            width: '70%', //probably not needed
            // height:'auto', //probably not needed
            // 'max-height':'100%'
        });
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12 well well-sm">

            <legend><a href=""><i class="glyphicon glyphicon-users"></i></a> Questionnaires list
                <a target="_blank" href="/api/private/exportCompositeTable?formId={{formId}}" ng-hide="!hasHRGrants"
                   class="ng-hide" data-toggle="tooltip" data-placement="bottom" title="Export all data"><i class="glyphicon glyphicon-download"></i></a>
                <a ng-click="exportFilteredTable()" ng-hide="!hasHRGrants"
                   class="ng-hide" data-toggle="tooltip" data-placement="bottom" title="Export only filtered data"><i class="glyphicon glyphicon-download-alt"></i></a>
                <a ng-click="openSettings()" data-toggle="tooltip" data-placement="bottom" title="Select fields for demonstration"><i class="glyphicon glyphicon-filter"></i></a>
                <a ng-click="hideShowFilters()" data-toggle="tooltip" data-placement="bottom" title="Hide filter bar"><i class="glyphicon glyphicon-menu-up" id="showHideBtn"></i></a>
            </legend>
            <!--<div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search" ng-model="search">
            </div>-->
            <div class="clearfix"></div>
            <div style="overflow: hidden; overflow-x: scroll">
                <form ng-submit="applyFilter()" id="filterForm">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th ng-repeat="x in data.titles" ng-show="show(x)">{{x.value}}</th>
                        <th ng-repeat="x in data.curatorTitles" ng-show="show(x)">{{x.value}}</th>
                        <th ng-repeat="x in data.hrTitles" ng-show="show(x)">{{x.value}}</th>
                        <th>Operations</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th ng-repeat="x in data.titles" ng-show="show(x)"><input form="filterForm" class="studentFilterFieldClass form-control" name={{x.field_id}}></th>
                        <th ng-repeat="x in data.curatorTitles" ng-show="show(x)"><input form="filterForm" class="curatorFilterFieldClass form-control" name={{x.field_id}}></th>
                        <th ng-repeat="x in data.hrTitles" ng-show="show(x)"><input form="filterForm" class="hrFilterFieldClass form-control" name={{x.field_id}}></th>
                        <td><button class="btn applyFilterBtn" ng-click="applyFilter()">Apply filter</button></td>
                    </tr>
                    <tr ng-repeat="x in filtered = (answers | filter : search)">
                        <td ng-repeat="y in x.studentAnswers track by $index" ng-show="show(y)"><span ng-show="y.field_value!=null">{{y.field_value}}</span></td>
                        <td ng-repeat="y in x.curatorAnswers track by $index" ng-show="show(y)"><span ng-show="y.field_value!=null">{{y.field_value}}</span></td>
                        <td ng-repeat="y in x.hrAnswers track by $index" ng-show="show(y)"><span ng-show="y.field_value!=null">{{y.field_value}}</span></td>
                        <td><a ng-click="showComplex(x.id)">Show</a></td>
                        <td><a ng-click="exportQue(x.id)" ng-hide="!hasHRGrants" class="ng-hide">Export</a></td>
                        <td><a ng-click="showConfirmDeletePopup(x.id)" ng-hide="!hasAdminGrants" class="ng-hide">Delete</a></td>
                    </tr>
                    </tbody>

                </table></form>
            </div>
            <ul uib-pagination items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
</div>

