
    <div class="modal-header">
        Fields Settings
    </div>
    <div class="modal-body">

        <div ng-repeat="x in $resolve.items" style="margin-left: 20px">
                <div class="checkbox">
                        <label>
                        <input type="checkbox" value="1" ng-model="x.checked">{{x.value}}</label>
                    </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" ng-click="save()" class="btn btn-primary">Save</button>
        </div>
    </div>