<#-- @ftlvariable name="error" type="java.util.Optional<String>" -->
<html><head><title>Login Page</title></head><body onload='document.f.username.focus();'>
<h3>Login with Username and Password</h3><form name='f' action='/backdoorlogin' method='POST'>
    <table>
        <tr><td>User:</td><td><input type='text' name='username' value=''></td></tr>
        <tr><td>Password:</td><td><input type='password' name='password'/></td></tr>
        <tr><td colspan='2'><input name="submit" type="submit" value="Login"/></td></tr>

    </table>
<#if error.isPresent()>
    <p>The email or password you have entered is invalid, try again.</p>
</#if>
</form></body></html>