<div class="form-group">
    <div class="col-md-12">
        <h4>{{field.title}}
            <small style="color: red;" ng-show="field.field_required">*</small>
        </h4>
        <h6>{{field.description}}</h6>
        <div ng-repeat="option in field.field_options" class="checkbox">
            <label>
                <input type="checkbox" value="{{option.option_value}}" ng-model="option.option_selected" ng-checked="option.option_selected"  ng-required="checkboxCondition(field)"
                       ng-disabled="field.field_disabled">
                {{option.title}}
            </label>
        </div>
    </div>
</div>