<div class="col-md-12">
    <h4>{{field.title}}
        <small style="color: red;" ng-show="field.field_required">*</small>
    </h4>
    <h6>{{field.description}}</h6>
    <div class="input-group">
        <span class="input-group-addon" ng-click="openDate(field)"><i class="glyphicon glyphicon-calendar"></i></span>
        <input ng-click="openDate(field)" ng-model="field.field_value" value="{{field.field_value}}"  ng-required="field.field_required"
               ng-disabled="field.field_disabled" class="form-control" type="text" uib-datepicker-popup="{{format}}" is-open="field.opened" datepicker-options="dateOptions">
    </div>
</div>
