<div class="col-md-12">
    <h4>{{field.title}}
        <small style="color: red;" ng-show="field.field_required">*</small>
    </h4>
    <div ng-show="field.description!=null">
        <h6>{{field.description}}</h6>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
        <input ng-model="field.field_value" value="{{field.field_value}}"  ng-required="field.field_required"
               ng-disabled="field.field_disabled"  ng-pattern="/^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/" class="form-control" type="text">
        <!--https://habrahabr.ru/post/110731/-->
    </div>
</div>