<div class="col-md-12">
	<h4>{{field.title}}
		<small style="color: red;" ng-show="field.field_required">*</small>
	</h4>
	<div ng-show="field.description!=null">
		<h6>{{field.description}}</h6>
	</div>
	<div class="input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
		<input ng-model="field.field_value" value="{{field.field_value}}"  ng-required="field.field_required"
			   ng-disabled="field.field_disabled"  class="form-control" type="text">
	</div>
</div>