<div class="panel panel-default">
    <div class="panel-heading">{{form.name}} Form creation</div>
    <div class="panel-body">
        {{corm}}
        <form class="form-inline">
            <div class="form-group">
                <label>Field</label>
                <input type="text" ng-model="form.addField.name" class="form-control">
            </div>
            <div class="form-group">
                <label>Type</label>
                <select ng-model="form.addField.new" class="form-control"
                        ng-options="type.name as type.value for type in form.addField.types"></select>
            </div>
            <button type="submit" class="btn btn-default" ng-click="addNewField(form)"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Field
            </button>

        </form>

        <div class="clearfix" style="margin-bottom:20px"></div>


        <div class="panel-group" id="accordion" ng-repeat="field in form.form_fields">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" ng-click="isCollapsed = !isCollapsed">
                        <a data-toggle="collapse" data-parent="#accordion">
                            {{field.title}}, Type {{field.field_type}}
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse out" uib-collapse="!isCollapsed">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Field</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Field"
                                           ng-model="field.title">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-danger right" type="button"
                                            ng-click="deleteField(form,field.id)"><span
                                            class="glyphicon glyphicon-trash"></span> Delete Field</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Description"
                                           ng-model="field.description">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Default value</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="Default value"
                                           ng-model="field.field_value">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Required field</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline"><input type="radio" ng-model="field.field_required" name="optradio1" value="true">Yes</label>
                                    <label class="radio-inline"><input type="radio" ng-model="field.field_required" name="optradio1" value="false">No</label>
                                </div>
                            </div>

                            <div class="form-group" ng-show="showAddOptions(field)">
                                <label class="col-sm-2 control-label">Options</label>
                                <div class="col-sm-8">
                                    <div class="form-inline" style="margin-bottom: 10px;"
                                         ng-repeat="option in field.field_options">
                                        <input type="text" class="form-control" style="width: 200px"
                                               ng-model="option.title" value="{{option.title}}">
                                        <a class="btn btn-danger btn-mini right" type="button"
                                           ng-click="deleteOption(field, option)"><span
                                                class="glyphicon glyphicon-minus-sign" aria-hidden="true"></a>
                                        <span class="label-inverse">Value: {{ option.option_value }}</span>
                                    </div>
                                    <button class="btn btn-primary" style="margin-top: 15px" type="button"
                                            ng-click="addOption(field)"><span class="glyphicon glyphicon-plus-sign"
                                                                              aria-hidden="true"></span> Add
                                    </button>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>